body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
        /* display: flex; */
        width         : 70%;
        background    : #fdfbfb;
        margin        : 0 auto;
}
.response{
	min-height: 40px;
	max-height: 200px;
	overflow-y: scroll;
}